# --- Computer Vision & AI ---
opencv-contrib-python-headless
mediapipe==0.10.9
ultralytics
numpy

# --- Math & Data Logic ---
pandas
matplotlib
scipy

# --- Utilities & Reports ---
reportlab
fpdf
python-dotenv