# --- Gradio Compatibility ---
audioop-lts

# --- Computer Vision & AI ---
opencv-contrib-python-headless
mediapipe
ultralytics
numpy

# --- Math & Data Logic ---
pandas
matplotlib
scipy

# --- Utilities & Reports ---
reportlab
fpdf
python-dotenv